<div class="container">
<mat-toolbar color="primary">
    <div class="fs-s" *ngIf="data === null">Neuer Ladeträger Erstellen</div>
    <div class="fs-s" *ngIf="data !== null">Gewicht für Ladeträger eingeben</div>
</mat-toolbar>
        <mat-dialog-content>
          <form novalidate [formGroup]="neuPalForm">
            <div>
                <label for="kommid" class="fs-s">Kommissionierung Nr.: {{neuPalForm.get('kommId')?.getRawValue()}}
                <input type="hidden"  id="kommid" formControlName="kommId" ></label>
            </div>
            <div class="divider"></div>
            <div >
              <mat-form-field>
                <mat-label class="fs-s">Ladeträger Typ.</mat-label>
                <mat-select formControlName="palTyp">
                    <mat-option *ngFor="let item of paletetyp" [value]="item" class="fs-s">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="divider"></div>
            <div>
              <mat-form-field>
                <mat-label class="fs-s">Ladeträger Gewicht.: </mat-label>
                <input type="number" matInput formControlName="gewicht" class="fs-s">
              </mat-form-field>
            </div>
            <div class="divider"></div>
          </form>
        </mat-dialog-content>
        <mat-dialog-actions>
            <div >
              <button type="button" mat-raised-button color="primary" (click)="palSpeichern()">Speicher</button>
              <button type="button" mat-raised-button color="secondary" (click)="abbruch()">Abbruch</button>
            </div>
        </mat-dialog-actions>

</div>
