.mat-column-menge {
  width: 20%;
  min-width: min-content;
}
.mat-column-name {
  width: 20%;
  min-width: max-content;
}
.mat-column-kontro {
  width:  20%;
  min-width: min-content;
}
.mat-column-aid {
  width: 20%;
  min-width: min-content;
}
.mat-column-liferant {
  width: 20%;
  min-width: min-content;
}

