<div class="container">
  <mat-sidenav-container>
      <mat-sidenav mode="side" align="start" opened #sidenav class="sidenav">
        <div>
          <button  type="button" mat-raised-button color="primary"  (click)="createKommissionirung()" > Neue Kommissionirung</button>
         </div>
         <div>
         <button type="button" mat-raised-button color="primary" (click)="meinKommissionierungen()"> Meine Kommissionierung</button>
         </div>
         <div>
        <button  type="button" mat-raised-button color="primary" (click)="alleKommissionierungen()">Alle Kommissionierung</button>
         </div>
      </mat-sidenav>
   <mat-sidenav-content>
    <div *ngIf="!showDownload">
      <mat-table [dataSource]="dataRes">
        <ng-container matColumnDef="kommid">
          <mat-header-cell *matHeaderCellDef>Kommissionierung Nr.</mat-header-cell>
         <mat-cell *matCellDef="let item; let i =index">
          <button  mat-raised-button color="accent" (click)="updateKommissionierung(i)">{{ item.id }}</button>
        </mat-cell>
        </ng-container>
        <ng-container matColumnDef="verkauferid">
          <mat-header-cell *matHeaderCellDef> Verkaufer id</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.verkauferId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="maxPH">
          <mat-header-cell *matHeaderCellDef>Maximale Palettenhöhe</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.maxPalettenHoher}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lieferD">
          <mat-header-cell *matHeaderCellDef>Liefer Datum</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.gewunschtesLieferDatum | date : 'dd-MM-yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dispo">
          <mat-header-cell *matHeaderCellDef>Dispositor</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ dispo[item.dispositorId].name  }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="spedi">
          <mat-header-cell *matHeaderCellDef>Spedition</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ spedi[item.spedition].name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="versorgid">
          <mat-header-cell *matHeaderCellDef>Versorgungs id</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.versorgungId }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="kommStatus">
          <mat-header-cell *matHeaderCellDef>Kommission Status</mat-header-cell>
          <mat-cell *matCellDef="let item; let i = index">
            <mat-select [(ngModel)]="item.kommissStatus" (ngModelChange)="kommStatusChange(item.id)">
                <mat-option *ngFor="let itemS of keyinenum()" [value]="itemS">{{itemS}}</mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="entfernen">
          <mat-header-cell *matHeaderCellDef>Entfernen!</mat-header-cell>
          <mat-cell *matCellDef="let item; let i = index">
            <button mat-raised-button  (click)="deleteKomm(i)" color="warn">Entfernen</button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ausdrucken">
          <mat-header-cell *matHeaderCellDef>Ausdrucken</mat-header-cell>
          <mat-cell *matCellDef="let item; let i = index">
            <button  mat-raised-button (click)="getKommToDruck(i)">Kommiss PDF</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnDef"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnDef"></mat-row>
      </mat-table>
</div>
    <app-pdfkommiss *ngIf="showDownload" [kommToDruck]="kommissToDruck"></app-pdfkommiss>
   </mat-sidenav-content>
  </mat-sidenav-container>


</div>
