<div class="container">
  <div class="mt-2 col-md-12"></div>
  <div class="row clearfix justify-content-center">
      <div class="col-md-auto" >
       <button type="button" class="btn btn-primary" (click)="createKommissionirung(-1)" > Neue Kommissionirung</button>
      </div>
      <div class="col-md-auto" >
      <button type="button" class="btn btn-primary"  (click)="meinKommissionierungen()">Meine Kommissionierungen</button>
      </div>
      <div class="col-md-auto" >
     <button type="button" class="btn btn-primary" (click)="alleKommissionierungen()">Alle Kommissionierungen</button>
      </div>
  </div>
  <div class="mt-2 col-md-12"></div>
  <div class="row clearfix">
    <div class="col table-responsive">
    <table class="table table-bordered table-hover table-sortable" id="tab_logic" *ngIf="!showDownload">
      <thead>
        <tr >
          <th class="text-center">
            Kommissionierung id
          </th>
          <th class="text-center">
            Verkaufer id
          </th>
          <th class="text-center">
           Max Paletten Hoher
          </th>
            <th class="text-center">
           Liefer Datum
          </th>
          <th class="text-center">
            Dispositor
           </th>
           <th class="text-center">
            Spedition
           </th>
           <th class="text-center">
            Versorgungs id
           </th>
           <th class="text-center">
            Kommission Status
           </th>
           <th class="text-center">
            Entfernen!
           </th>

        </tr>
      </thead>
      <tbody>

        <tr  *ngFor="let post of komiss; let i= index" id='addr0' data-id="0" class="hidden" >
          <td data-name="komm id" (click)="createKommissionirung(i)" style="cursor: pointer;">
            {{ post.id }}
        </td>
        <td data-name="verkauferid" (click)="createKommissionirung(i)" style="cursor: pointer;">
          {{ post.verkauferId }}
        </td>
        <td data-name="maxPallhoher" (click)="createKommissionirung(i)" style="cursor: pointer;">
          {{ post.maxPalettenHoher }}
        </td>
        <td data-name="LiferDatum" (click)="createKommissionirung(i)" style="cursor: pointer;">
          {{ post.gewunschtesLieferDatum | date : 'dd-MM-yyyy' }}
        </td>
        <td data-name="Dispositor"  (click)="createKommissionirung(i)" style="cursor: pointer;">
          {{ dispo[post.dispositorId-1].name }}
        </td>
        <td data-name="SPeditor"  (click)="createKommissionirung(i)" style="cursor: pointer;">
          {{ spedi[post.spedition-1].name }}
        </td>
        <td data-name="Versorgungid"  (click)="createKommissionirung(i)" style="cursor: pointer;">
          {{ post.versorungId }}
        </td>
          <td data-name="sel">
            <select name="kommStatus" [(ngModel)]="post.kommissStatus" (ngModelChange)="kommStatusChange(post.id)" >
              <option *ngFor="let item of keyinenum()" [ngValue]="item"
               [selected]="item === post.kommissStatus" > {{ item }}</option>
            </select>
        </td>
                    <td data-name="del">
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-danger  row-remove" (click)="deleteKomm(i)"><span class="glyphicon  glyphicon-remove" aria-hidden="true"></span>X</button>
                        </div>
                        <div class="col px-2">
                          <button class="btn btn-success" (click)="getKommToDruck(i)" ><span class="glyphicon  glyphicon-hdd" aria-hidden="true"></span>Get Komm</button>
                        </div>
                      </div>
                    </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <app-pdfkommiss *ngIf="showDownload" [kommToDruck]="kommissToDruck"></app-pdfkommiss>
</div>
