<div class="container">
  <div class="login">
    <form [formGroup]="formLogin" (ngSubmit)="loginUser()">
      <!-- User input -->
      <p><mat-form-field>
        <mat-label>Benutzer</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="username" name="username" required/>
      </mat-form-field></p>
      <!-- Password input -->
      <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="password" name="username" required/>
      </mat-form-field></p>
      <!-- Submit button -->
      <button mat-raised-button type="submit" color="primary" (ngSubmit)="loginUser()">Sign in</button>
    </form>
  </div>
</div>

