<div class="container">
<mat-toolbar color="primary">
    <span>Stellplatze</span>
</mat-toolbar>
<mat-dialog-content>
  <mat-table [dataSource]="dataRes">
    <ng-container matColumnDef="lagerp">
      <th mat-header-cell *matHeaderCellDef>Lager Platz</th>
      <td mat-cell *matCellDef="let item; let i =index">
        <div>
          {{item.lagerplatz}}
        </div>
        <div class="buttons">
          <button type="button" mat-raised-button (click)=" lagerPlatzNachfullen(i)">Nachfullen</button>
        </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="artmenge">
      <th mat-header-cell *matHeaderCellDef>Artikel Menge</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <div>
          {{item.artikelMenge}}
        </div>
        <div *ngIf="istEsWenigerAufDemLagerPlatz()" class="buttons">
          <button type="button" mat-raised-button (click)="artikelKommissioniren(i)">Neue Ladeträger</button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="mhd">
      <th mat-header-cell *matHeaderCellDef>Artikel Mhd: </th>
      <td mat-cell *matCellDef="let item;">
          <div  *ngIf="item.mhd === undefined">...</div>
          <div  *ngIf="item.mhd !== undefined">{{item.mhd | date: 'shortDate'}}</div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
  </mat-table>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <div >
    <button type="button" color="primary" mat-raised-button matDialogClose >Fenster Schließen</button>
  </div>
</mat-dialog-actions>

</div>
