<div class="container">
<mat-toolbar color="primary">
    <span>Stellplatze</span>
</mat-toolbar>
<mat-dialog-content>
  <div class="d-flex row-flex border rounded fs-s ">
    <div class="d-flex flex-column ml-1 ">Lager Platz</div>
    <div class="d-flex flex-column ml-1 border-start">Artikel Nr.</div>
    <div class="d-flex flex-column ml-1 border-start">mhd</div>
    <div class="d-flex flex-column ml-1 border-start">Liferant</div>
    <div class="d-flex flex-column ml-1 border-start">Menge</div>
  </div>
  <div class="d-flex row-flex border rounded fs-s" *ngFor="let item of artikelinfo; let i = index">
    <div class="d-flex flex-column ml-1 border border-success ">{{item.lagerplatz}}</div>
    <div class="d-flex flex-column ml-1 border-start">{{item.artId}}</div>
    <div class="d-flex flex-column ml-1 border-start" *ngIf="item.mhd === undefined">...</div>
    <div class="d-flex flex-column ml-1 border-start" *ngIf="item.mhd !== undefined">{{item.mhd | date: 'shortDate'}}</div>
    <div class="d-flex flex-column ml-1 border-start">{{item.liferantn}}</div>
    <div class="d-flex flex-column ml-1 border-start">{{item.artikelMenge}}</div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button matDialogClose class="fs-s" color="primary">Fenster Schließen</button>
</mat-dialog-actions>

</div>
