<div class="container">
  <div class="mt-2 col-md-12"></div>
  <div class="row clearfix justify-content-center">
    <div class="col-md-auto">
      <button mat-raised-button color="primary" (click)="exit()">Admin Panel</button>
    </div>
    <div class="col-md-auto">
      <button mat-raised-button color="primary" (click)="createUser()">Neue Benutzer</button>
    </div>
  </div>
  <div class="mt-2 col-md-12"></div>
  <div>
    <table class="table table-bordered table-hover table-sortable table-striped">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Name</th>
          <th scope="col">Vorname</th>
          <th scope="col">Role</th>
          <th>Delete User</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let item of userss; let i = index" >
          <td scope="row">{{item.username}}</td>
          <td style="cursor: pointer;" (click)="editUser(i)">{{item.nachname}}</td>
          <td style="cursor: pointer;" (click)="editUser(i)">{{item.vorname}}</td>
          <td style="cursor: pointer;" (click)="editUser(i)">{{item.role}}</td>
          <td align="center"><button mat-raised-button color="warn" (click)="delete(i)">Delete</button> </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
