<div class="container">

    <table mat-table [dataSource]="tabDataSource">
      <ng-container matColumnDef="uname">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let item; let i = index" (click)="editUser(i)" style="cursor: pointer;">{{item.username}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item; let i = index" (click)="editUser(i)" style="cursor: pointer;">{{item.nachname}}</td>
      </ng-container>
      <ng-container matColumnDef="vorname">
        <th mat-header-cell *matHeaderCellDef>Vorname</th>
        <td mat-cell *matCellDef="let item">{{item.vorname}}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let item">{{item.role}}</td>
      </ng-container>
      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef>Delete User</th>
        <td mat-cell *matCellDef="let item; let i = index">
          <button mat-raised-button color="warn" (click)="delete(i)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
      <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
    </table>


</div>
