<div class="container">
  <div class="divider"></div>
  <div class="rowsuch" *ngIf="show === 1">
    <div>
      <mat-form-field>
        <input type="search" matInput [ngModel]="searchModel" name="searchModel"
        placeholder="write artikel name or id" id="" (ngModelChange)="onSearch($event)">
      </mat-form-field>
      {{searchModel}}
    </div>
    <div >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
  <table  *ngIf="show === 1" mat-table [dataSource]="tabData">
    <ng-container matColumnDef="artId">
      <th mat-header-cell *matHeaderCellDef>Artikel Nr.</th>
      <td mat-cell *matCellDef="let item">{{item.artikelId}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item; let i = index"
      (click)="getArtikelById(item.aid,i)" style="cursor: pointer;">{{item.name}}</td>
    </ng-container>
    <ng-container matColumnDef="minMenge">
      <th mat-header-cell *matHeaderCellDef>Min. Los Menge</th>
      <td mat-cell *matCellDef="let item">{{item.minLosMenge}}</td>
    </ng-container>
    <ng-container matColumnDef="lif">
      <th mat-header-cell *matHeaderCellDef> Liferant Name</th>
      <td mat-cell *matCellDef="let item">{{liferants[item.liferantId-1].name}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete ?</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <button mat-raised-button color="warn"  (click)="deleteArtikel(item.aid, i)">Artikel Löschen</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
  </table>
</div>
  <!--Form to Edit, new Artikel-->
  <form novalidate *ngIf="show === 2" [formGroup]="formArtikel">
    <input type="hidden" formControlName="aid">
      <div class="row">
              <div>
                <mat-form-field>
                  <mat-label>Artikel Name</mat-label>
                  <input formControlName="name" type="text" matInput required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Name 2</mat-label>
                  <input formControlName="name2" type="text" matInput >
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Artikel Nr</mat-label>
                  <input formControlName="artikelId" type="number" matInput required>
                </mat-form-field>
             </div>
             <div>
              <mat-form-field>
                <mat-label>Artikel uid</mat-label>
                <textarea formControlName="uids" matInput rows="1" required></textarea>
                <mat-hint>
                  Komma getrent!
                </mat-hint>
              </mat-form-field>
            </div>
      </div>
      <div class="row">
          <div>
            <mat-form-field>
              <mat-label>Lange Beschriftung</mat-label>
              <textarea formControlName="longBeschriftung" matInput rows="1"></textarea>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Artikel gewicht</mat-label>
              <input formControlName="gewicht" type="number" matInput required>
            </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Artikel Größe (H x B x L)</mat-label>
                <input formControlName="grosse" placeholder="H x B x L" type="text" matInput required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Artikel Basis Einheit </mat-label>
                <input formControlName="basisEinheit" type="number" matInput required>
              </mat-form-field>
            </div>
        </div>
    <div class="row">
            <div>
              <mat-form-field>
                <mat-label>Min los Menge </mat-label>
                <input formControlName="minLosMenge" type="number" matInput required>
              </mat-form-field>
            </div>
            <div>
              <div class="hidd">
                <legend>Bestand</legend>
                <p type="number" class="form-control form-control-sm" id="bestand"
                value="bestand" >{{formArtikel.get('bestand')?.getRawValue() }}</p>
              </div>
            </div>
            <div>
                <mat-form-field>
                  <mat-label>Artikel Typ</mat-label>
                  <mat-select formControlName="artikelFlage" placeholder="">
                      <mat-option *ngFor="let item of artikelFlags" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Artikel Verkauf Preice </mat-label>
                <input formControlName="verPrice" type="number" matInput required>
              </mat-form-field>
            </div>
      </div>
      <div class="row">
        <div>
          <mat-form-field>
            <mat-label>Artikel Lieferant</mat-label>
            <mat-select formControlName="liferantId" >
                <mat-option *ngFor="let item of liferants | filterNullItemPipe" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Artikel Mehrwertsteuer in %</mat-label>
            <input formControlName="mehrwertsteuer" type="number" matInput required>
          </mat-form-field>
        </div>
      <div class="divider"></div>
        <div class="row">
          <div  *ngIf="artikel.aid === undefined">
            <button type="button" mat-raised-button color="primary" (click)="createUpdateArtikel( formArtikel.value)" >Speichern</button>
          </div>
          <div  *ngIf="artikel.aid !== undefined">
            <button type="button" mat-raised-button color="primary" (click)="updateArtikle( formArtikel.value)" >Aktualisieren</button>
          </div>
        </div>
      </div>
  </form>
</div>
