<div class="container">
<mat-toolbar color="primary">
  <mat-toolbar-row>
          <div>
            <div *ngIf="currentKomiss[0] !== undefined">
              <span class="fs-s">Kommissionierung Nr: {{currentKomiss[0].kommissId}}</span>
            </div>
          </div>
            <span class="spacer"></span>
            <div class="fs-sl">
              <div>{{'Stellplatze (Vorausgesehen): ' + stellPlat}}</div>
              <div>{{'Total Gewicht (Vorausgeshen): ' + gewicht}}</div>
            </div>
  </mat-toolbar-row>
          <mat-toolbar-row class="second-row">
            <div>
              <div>
                <button mat-raised-button (click)="showPaleten()" *ngIf="showPal !== 1" color="primary" clas="fs-s">Paletten Zeigen</button>
              </div>
              <div>
                <button mat-raised-button (click)="showPaleten()" *ngIf="showPal === 1" color="primary" class="fs-s">Kommissionierung Zeigen</button>
              </div>
            </div>
          </mat-toolbar-row>
</mat-toolbar>
<div matDialogContent class="matDialogContent">
  <div  [(ngModel)]="user" ngDefaultControl>

    <div *ngIf="showPal === 1">
      <app-paletten [kommNr]="currentKomiss[0].kommissId"></app-paletten>
    </div>
    <div *ngIf="showFront === 1">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="artId">
        <th mat-header-cell *matHeaderCellDef>Artikel Nr:</th>
        <td mat-cell *matCellDef="let item">{{item.aid}}</td>
      </ng-container>
      <ng-container matColumnDef="artName">
        <th mat-header-cell *matHeaderCellDef>Artikel Name</th>
        <td mat-cell *matCellDef="let item">{{item.name}}</td>
      </ng-container>
      <ng-container matColumnDef="artMenge">
        <th mat-header-cell *matHeaderCellDef>Artikel Menge</th>
        <td mat-cell *matCellDef="let item">{{item.menge}}</td>
      </ng-container>
      <ng-container matColumnDef="artGepackt">
      <th mat-header-cell *matHeaderCellDef>Artikel Gepackt ?</th>
      <td mat-cell *matCellDef="let item">{{item.gepackt}}</td>
      </ng-container>
      <ng-container matColumnDef="kommissionier">
        <th mat-header-cell *matHeaderCellDef>Kommissionier </th>
        <td mat-cell *matCellDef="let item">{{user}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnName"></tr>
      <tr mat-row *matRowDef="let row; columns: columnName"></tr>
    </table>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <div>
    <button mat-button matDialogClose>Close dialog</button>
    <button mat-button>Action</button>
  </div>
</mat-dialog-actions>
</div>

