
 <table mat-table [dataSource]="dataRes">
  <ng-container matColumnDef="palid">
    <th mat-header-cell *matHeaderCellDef>Paletten Nr.</th>
    <td mat-cell *matCellDef="let item">{{item.id}}</td>
  </ng-container>
  <ng-container matColumnDef="palTyp">
    <th mat-header-cell *matHeaderCellDef>Paletten Typ</th>
    <td mat-cell *matCellDef="let item">{{item.palettenTyp}}</td>
  </ng-container>
  <ng-container matColumnDef="kontro">
    <th mat-header-cell *matHeaderCellDef>Palette Kontrolliert ?</th>
    <td mat-cell *matCellDef="let item">{{item.kontrolliert === 0 ? 'Nein' : 'Ja'}}</td>
  </ng-container>
  <ng-container matColumnDef="relGewi">
    <th mat-header-cell *matHeaderCellDef>Palette Gewicht</th>
    <td mat-cell *matCellDef="let item">{{item.paletteRealGewicht}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
  <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
 </table>

