<div>
    <div class="divider"></div>
        <div class="druckbutt"><button mat-raised-button color="primary" (click)="print()">Drucken</button>
        <button type="button" mat-dialog-close mat-raised-button color="warn">Abbrechen</button>
    </div>
  
    <div class="divider"></div>
<div name="todruck" id="todruck" class="todruck">
    <div class="druck" id="druck"  *ngFor="let item of tmpPalets; let i = index">
        <div class="head">
            <div>
                <div><div class="palnr">{{this.palnr[i]}}</div> </div>
                <div *ngIf="dataTab[i].filteredData[0] !== undefined">Empfänger: {{dataTab[i].filteredData[0].dispo_name}}</div>
                <div *ngIf="dataTab[i].filteredData[0] !== undefined">Gewünschte Lieferdatum: {{dataTab[i].filteredData[0].gewunschtesLieferDatum | date: 'shortDate'}}</div>
            </div>
            <div>
                <div *ngIf="dataTab[i].filteredData[0] !== undefined">Kommissionierung Nr: {{dataTab[i].filteredData[0].kommId}}</div>
                <div *ngIf="dataTab[i].filteredData[0] !== undefined">LKW NR: {{dataTab[i].filteredData[0].lkwNummer}}</div>
                <div *ngIf="dataTab[i].filteredData[0] !== undefined">Gewicht: {{dataTab[i].filteredData[0].paletteRealGewicht}}</div>
                <div *ngIf="dataTab[i].filteredData[0] !== undefined">Versorgung Id: {{dataTab[i].filteredData[0].versorgungId}}</div>
            </div>
        </div>
        <table mat-table [dataSource]="dataTab[i]">
            <ng-container matColumnDef="artiid">
                <th mat-header-cell *matHeaderCellDef>Art Nr.</th>
                <td mat-cell *matCellDef="let item">{{item.artikelId}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Artikel Name</th>
                <td mat-cell *matCellDef="let item">{{item.name}}</td>
            </ng-container>
            <ng-container matColumnDef="stuck">
                <th mat-header-cell *matHeaderCellDef>Menge :</th>
                <td mat-cell *matCellDef="let item">{{item.artikelMenge}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
            <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
        </table>
    </div>
</div>
</div>
