<div class="container">
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Kommissionierung Nr:</th>
        <td mat-cell *matCellDef="let item">{{item.id}}</td>
      </ng-container>
      <ng-container matColumnDef="versorgung">
        <th mat-header-cell *matHeaderCellDef>Versorung Nr:</th>
        <td mat-cell *matCellDef="let item; let i = index" >
          <button mat-raised-button (click)="getKommis(i)" color="primary">{{item.versorgungId}}</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="paletH">
        <th mat-header-cell *matHeaderCellDef>Maximale Palettenhöhe:</th>
        <td mat-cell *matCellDef="let item">{{item.maxPalettenHoher}}</td>
      </ng-container>
      <ng-container matColumnDef="lieferD">
        <th mat-header-cell *matHeaderCellDef>Lieferdatum:</th>
        <td mat-cell *matCellDef="let item">{{item.gewunschtesLieferDatum | date : 'shortDate'}}</td>
      </ng-container>
      <ng-container matColumnDef="dispo">
        <th mat-header-cell *matHeaderCellDef>Dispositor:</th>
        <td mat-cell *matCellDef="let item">{{dispositors[item.dispositorId].name}}</td>
      </ng-container>
      <ng-container matColumnDef="komStatus">
        <th mat-header-cell *matHeaderCellDef>Kommissionierung Status:</th>
        <td mat-cell *matCellDef="let item; let i = index ">
          <mat-select [(ngModel)]="item.kommissStatus" (selectionChange)="onStatusChange(i)">
              <mat-option *ngFor="let key of keyinenum()" [value]="key">{{key}}</mat-option>
          </mat-select>
        </td>
      </ng-container>
      <ng-container matColumnDef="sped">
        <th mat-header-cell *matHeaderCellDef>Spedition:</th>
        <td mat-cell *matCellDef="let item">{{spedition[item.spedition].name }}</td>
      </ng-container>
      <ng-container matColumnDef="verk">
        <th mat-header-cell *matHeaderCellDef>Verkaufer:</th>
        <td mat-cell *matCellDef="let item; let i = index;">{{getVerkaufer(namen[i])}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tabeleCoumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tabeleCoumns"></tr>
    </table>
</div>
