<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span class="title-center" *ngIf="edit === 0"> Add Neue Mitarbeiter</span>
      <span class="title-center" *ngIf="edit === 1"> Mitarbeiter Aktualisieren</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography">
    <form action="" [formGroup]="userForm">
      <input type="number" formControlName="id" hidden>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="fill" fxFlex="30">
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="username" required>
            <mat-error>
              <span *ngIf="userForm.controls['username'].touched && userForm.controls['username'].invalid"> Das Username ist Falsch!</span>

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="fill" fxFlex="30">
            <mat-label>Vorname</mat-label>
            <input matInput type="text" formControlName="vorname" required>
            <mat-error *ngIf="userForm.controls['vorname'].invalid">
              Das Vornamee ist Falsch!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="fill" fxFlex="30">
            <mat-label>Nachname</mat-label>
            <input matInput type="text" formControlName="nachname" required>
            <mat-error *ngIf="userForm.controls['nachname'].invalid">
              Das Nachname ist Falsch!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill" fxFlex="50" >
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="userpassword"  placeholder=" a.asd...." required >
            <mat-error *ngIf="userForm.controls['userpassword'].invalid">
             Passowrd has error
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" fxFlex="50">
            <mat-label>Role</mat-label>
            <mat-select name="role" formControlName="role" required>
                <mat-option  *ngFor="let role of userRole" [value]="role">{{role}}</mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['role'].invalid">
              Du muss eine aussuchen
             </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="createUser()" *ngIf="edit === 0"
      [disabled]="!userForm.valid">Add User</button>
      <button mat-raised-button color="primary" type="submit" (click)="createUser()" *ngIf="edit === 1"
      [disabled]="!userForm.valid">Update User</button>
    <button mat-raised-button color="primary" mat-dialog-close>Abbrechen</button>
  </mat-dialog-actions>
</div>
