<div class="container">
    <table mat-table [dataSource]="dataTab">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Komm Nr:</th>
            <td mat-cell *matCellDef="let item;">{{item.id}}</td>
        </ng-container>
        <ng-container matColumnDef="verkaufid">
            <th mat-header-cell *matHeaderCellDef> Verkaufer:</th>
            <td mat-cell *matCellDef="let item">{{item.verkauferId}}</td>
        </ng-container>
        <ng-container matColumnDef="liferdate">
            <th mat-header-cell *matHeaderCellDef>Gewünschten Liefertermin</th>
            <td mat-cell *matCellDef="let item">{{item.gewunschtesLieferDatum | date: 'short'}}</td>
        </ng-container>
        <ng-container matColumnDef="dispo">
            <th mat-header-cell *matHeaderCellDef>Dispositor</th>
            <td mat-cell *matCellDef="let item">{{item.dispositorId}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Komm Status</th>
            <td mat-cell *matCellDef="let item">{{item.kommissStatus}}</td>
        </ng-container>
        <ng-container matColumnDef="spedi">
            <th mat-header-cell *matHeaderCellDef>Spedition</th>
            <td mat-cell *matCellDef="let item">{{item.spedition}}</td>
        </ng-container>
        <ng-container matColumnDef="versoid">
            <th mat-header-cell *matHeaderCellDef>Verosorung Id:</th>
            <td mat-cell *matCellDef="let item">{{item.versorgungId}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
        <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
    </table>
</div>