<div class="container">
  <div class="divider"></div>
<div class="row">
  <form novalidate *ngIf="show === 2"
   [formGroup]="formBuchung" (ngSubmit)="saveBuchung(formBuchung.value)">
          <input type="hidden" formControlName="id" >
    <div class="row">
            <div>
              <mat-form-field>
                <mat-label>Ware an Tor:</mat-label>
                <input formControlName="tor" type="text" matInput required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Kreditor</mat-label>
                <mat-select formControlName="kreditorId" placeholder="" (selectionChange)="sortArtikles($event.value)">
                    <mat-option *ngFor="let disp of dispositors | filterNullItemPipe" [value]="disp.id">{{disp.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>LieferSchein Nr:</mat-label>
                <input formControlName="lieferscheinNr" type="text" matInput required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Datum</mat-label>
                <input matInput [matDatepicker]="picker"  formControlName="empfangDatum" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
    </div>
    <div class="row">
        <div class="my-form-field">
          <mat-label>Ware eingebucht und berait zum Lagern? </mat-label>
          <mat-checkbox
          [checked]=""
          color="primary"
          formControlName="eingebucht">
          </mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Bestellung Id</mat-label>
            <input formControlName="bestellungId" type="number" matInput required>
          </mat-form-field>
        </div>
     <div>
       <button mat-raised-button color="primary" type="submit">Buchung Speichern</button>
     </div>
  </div>
</form>
</div>
<div class="divider"></div>

<div *ngIf="show === 2">
  <div class="rowl">
    <div class="item">Total Position: <span class="lifer">{{buchungArtikelMenge.length}}</span> </div>
    <div class="item">Total Netto: <span class="lifer">{{getLiferungNetto()}}</span> </div>
    <div class="item">Total MwSt: <span class="lifer">{{getLieferungMstw()}}</span> </div>
    <div class="item">Total Brutto: <span class="lifer">{{getLiferungBrutto()}}</span> </div>
    <div class="rowsuch">
      <div class="my-form-field">
        <input type="search" matInput [ngModel]="searchModel" (ngModelChange)="onSearch($event)">
      </div>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </div>
</div>
</div>
</div>
<div class="divider"></div>
<table mat-table [dataSource]="tabData" *ngIf="show === 2" [trackBy]="artikelTrackBy">
  <ng-container matColumnDef="aid">
    <th mat-header-cell *matHeaderCellDef> Artikel Nr</th>
    <td mat-cell *matCellDef="let item">{{item.artikelId}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let item">{{item.name}}</td>
  </ng-container>
  <ng-container matColumnDef="besch">
    <th mat-header-cell *matHeaderCellDef>Beschaffungspreis</th>
    <td mat-cell *matCellDef="let item; let i = index">
      <div class="my-form-field">
        <input type="number" [(ngModel)]="nettoArr[i]" placeholder="netto price für stück">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="steuer">
    <th mat-header-cell *matHeaderCellDef> Die Mehrwertsteuer</th>
    <td mat-cell *matCellDef="let item; let i = index">
      <div class="my-form-field">
        <input class="my-form-filed" type="number" [(ngModel)]="steuArr[i]" (onchange)="getBrutto(i)" placeholder="0 für keine Umsatzsteuer">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="brut">
    <th mat-header-cell *matHeaderCellDef>Brutto (St.)</th>
    <td mat-cell *matCellDef="let item; let i = index">  {{getBrutto(i)}}</td>
  </ng-container>
  <ng-container matColumnDef="brtto">
    <th mat-header-cell *matHeaderCellDef> Brutto (Total)</th>
    <td mat-cell *matCellDef="let item; let i = index"> {{getTotalBrutto(i)}}</td>
  </ng-container>
  <ng-container matColumnDef="liefer">
    <th mat-header-cell *matHeaderCellDef>Lieferant</th>
    <td mat-cell *matCellDef="let item">{{dispositors[item.liferantId].name}}</td>
  </ng-container>
  <ng-container matColumnDef="menge">
    <th mat-header-cell *matHeaderCellDef> Menge to buchen</th>
    <td mat-cell *matCellDef="let item; let i = index">
      <div class="my-form-field">
        <input class="my-form-filed" type="number" [(ngModel)]="artikelMenge[i]" (onchange)="getTotalBrutto(i)">
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="buchen">
    <th mat-header-cell *matHeaderCellDef>  Buchen ?</th>
    <td mat-cell *matCellDef="let item; let i = index">
      <button mat-raised-button (click)="addArtikel(item.artikelId,artikelMenge[i], i)"><span aria-hidden="true">Buchen</span></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
  <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
</table>
<!--Add new show buchungen in bearbeitung-->
<div class="mt-2 col-md-12"></div>
<table mat-table [dataSource]="tabDataBuchu" *ngIf="show === 1 && dispo">
  <ng-container matColumnDef="buchid">
    <th mat-header-cell *matHeaderCellDef> Buchung Nr.</th>
    <td mat-cell *matCellDef="let item">{{item.id}}</td>
  </ng-container>
  <ng-container matColumnDef="tor">
    <th mat-header-cell *matHeaderCellDef>  Tor</th>
    <td mat-cell *matCellDef="let item; let i = index" (click)="bearbeiteBuchung(i)" style="cursor: pointer;">{{item.tor}}</td>
  </ng-container>
  <ng-container matColumnDef="kreditor">
    <th mat-header-cell *matHeaderCellDef> Kreditor</th>
    <td mat-cell *matCellDef="let item; let i = index" (click)="bearbeiteBuchung(i)" style="cursor: pointer;">{{dispositors[item.kreditorId].name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="bestnr">
    <th mat-header-cell *matHeaderCellDef>Bestellung Nr.</th>
    <td mat-cell *matCellDef="let item; let i = index" (click)="bearbeiteBuchung(i)" style="cursor: pointer;">{{item.bestellungId}}</td>
  </ng-container>
  <ng-container matColumnDef="lifersch">
    <th mat-header-cell *matHeaderCellDef> Lieferscheine Nr.</th>
    <td mat-cell *matCellDef="let item; let i = index" (click)="bearbeiteBuchung(i)" style="cursor: pointer;">{{item.lieferscheinNr}}</td>
  </ng-container>
  <ng-container matColumnDef="del">
    <th mat-header-cell *matHeaderCellDef>Buchung Löschen</th>
    <td mat-cell *matCellDef="let item; let i = index">
      <button mat-raised-button color="warn" (click)="deleteBuchung(i)">Löschen</button>
    </td>
    <tr mat-header-row *matHeaderRowDef="columnDefBuchungen"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDefBuchungen"></tr>
  </ng-container>


</table>
<!--show curent artikels-->
<div class="mt-2 col-md-12"></div>
<table mat-table [dataSource]="tabBuchArtikel"  *ngIf="show === 3 ">
  <ng-container matColumnDef="bestid">
    <th mat-header-cell *matHeaderCellDef>Bestellung Nr.</th>
    <td mat-cell *matCellDef="let item">{{item.bestellungId}}</td>
  </ng-container>
  <ng-container matColumnDef="artid">
    <th mat-header-cell *matHeaderCellDef>Artikel Nr.</th>
    <td mat-cell *matCellDef="let item"> {{item.artikelid}}</td>
  </ng-container>
  <ng-container matColumnDef="artname">
    <th mat-header-cell *matHeaderCellDef>Artikel Name</th>
    <td mat-cell *matCellDef="let item">{{item.artikelName}}</td>
  </ng-container>
  <ng-container matColumnDef="liefer">
    <th mat-header-cell *matHeaderCellDef>Lieferant</th>
    <td mat-cell *matCellDef="let item">{{dispositors[item.liferantId].name }}</td>
  </ng-container>
  <ng-container matColumnDef="menge">
    <th mat-header-cell *matHeaderCellDef>Menge</th>
    <td mat-cell *matCellDef="let item">{{item.menge}}</td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>  Entfernen </th>
    <td mat-cell *matCellDef="let item; let i = index">
      <button type="button" mat-raised-button color="warn" (click)="deleteArtikel(i)">Entfernen</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnGebuchtesArtikel"></tr>
  <tr mat-row *matRowDef="let row; columns: columnGebuchtesArtikel"></tr>

</table>
</div>
