.rowl {
  display: flex;
  justify-content:space-between;
  column-gap: .8rem;
  align-items: baseline;
  padding-left: 1rem;
  flex-grow: 2 1 auto;
  flex-wrap: wrap;

}
.rowl :last-child {
  margin-left: auto;
}
.rowl .lifer {
  text-align: right;
  float: right;
}

.item {
  border: .1rem solid rgb(220, 217, 223);
  border-radius: .3rem;
  padding: .1rem .2rem;
  width: 15%;
}

.divider {
  margin-top: 1rem;
}
.mat-column-aid
{
  width: 5%;
}
.mat-column-name
{
  width: 10%;
}
.mat-column-besch
{
  width: 5%;
}
.mat-column-steuer
{
  width: 2%;
}
.mat-column-brtto
{
  width: 2%;
}
.mat-column-brut
{
  width: 2%;
}
.mat-column-liefer
{
  width: 5%;
}
.mat-column-menge
{
  width: 5%;
}
.mat-column-buchen
{
  width: 10%;
}
