<div class="container  !direction !spacing">
  <div class="mt-2 col-md-12"></div>
        <div class="row justify-content-center align-items-center g-2 ">
            <div class="col-md-3 border border-3 border-primary text-center icons well rounded px-md-5" style="cursor: pointer;" (click)="createBuchung()">
                Neue Buchung
            </div>
            <div class="col-md-3 border border-3 border-primary text-center icons well rounded px-md-5" style="cursor: pointer;" (click)="showBuchungenInBearbeitung()">
               Buchungen In Bearbeitung
            </div>
            <div class="col-md-3 border border-3 border-primary text-center icons well rounded px-md-5" style="cursor: pointer;" [routerLink]="['/datenpflege']" routerLinkActive="router-link-active">
             Speditors / Dispositors
          </div>
          <div class="col-md-3 border border-3 border-primary text-center icons well rounded px-md-5" style="cursor: pointer;" *ngIf="show === 2" (click)="getArtikelsInBuchung()">
           Zeigt gebuchtes Artikels
         </div>
         <div class="col-md-3 border border-3 border-primary text-center icons well rounded px-md-5" style="cursor: pointer;" *ngIf="show === 3" (click)="goBack()">
         Zurück
        </div>
      </div>

<div class="mt-2 col-md-12"></div>
<div class="mt-2 col-md-12"></div>
<!--Add new buchung-->
<div class="col-mt-12 justify-content-center align-items-center g-2">
  <form class="row g-3 needs-validation" novalidate *ngIf="show === 2"
   [formGroup]="formBuchung" (ngSubmit)="saveBuchung(formBuchung.value)">
   <div class="row ">
    <input type="hidden" formControlName="id" >
   </div>
 <div class="row">
  <div class="col-md-12">

    <div class="col">
      <label for="tor" class="form-label ">Ware an Tor ?</label>
      <input formControlName="tor" type="text" class="form-control" id="tor" value="name" required>
    </div>
    <div class="col">
      <label for="dispositor" class="form-label ">Dispositor</label>
      <select formControlName="dispositorId" class="form-select" id="dispositor" value="name"  required>
        <option *ngFor="let disp of dispositors" [ngValue]="disp.id" placeholder="Klick to select">
         {{ disp.name }}
        </option>
      </select>
    </div>

</div>
 </div>

<div class="col-md-12 justify-content-center align-items-center g-2">

     <div class="col-md-6">
       <label for="validationCustom02" class="form-label">Ware eingebucht und berait zum Lagern? </label>
       <div class="form-check">
        <input formControlName="eingebucht" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" style="margin: 3px;" for="eingebucht">
          Buchung Fertig ?
        </label>
      </div>

     </div>

     <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Bestellung id </label>
      <input formControlName="bestellungId" placeholder="Gibt bestellung nr an" type="number" class="form-control" id="validationCustom02" value="grosse" required>
      <div class="valid-feedback">
        Schein gut zu sein
      </div>
    </div>

</div>

     <div class="col-md-12">
       <button class="btn btn-primary" type="submit">Save</button>
     </div>

   </form>
</div>
<div class="mt-2 col-md-12"></div>

<div class="row " *ngIf="show === 2">
  <div class="col-md-11">
    <input type="search" class="form-control input-lg rounded" [ngModel]="searchModel" name="searchModel" placeholder = "write artikel name or id" id="" (ngModelChange)="onSearch($event)">
    {{searchModel}}
  </div>
  <div class="col">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </div>

</div>
<div class="mt-2 col-md-12"></div>
<table class="table table-bordered table-hover table-sortable" id="tab_logic" *ngIf="show === 2">
  <thead>
    <tr >
      <th class="text-center">
        ArtikelId
      </th>
      <th class="text-center">
        Name
      </th>
      <th class="text-center">
       Min. Los Menge
      </th>
      <th class="text-center">
        Menge to buchen
       </th>
      <th class="text-center">
       Buchen ?
       </th>
    </tr>
  </thead>
  <tbody>

    <tr  *ngFor="let post of (artikels ? artikels.slice(0,200) : []); let i = index; trackBy : artikelTrackBy;" class="hidden">
      <td data-name="artikel id">
        {{ post?.artikelId }}
    </td>
    <td data-name="name"   style="cursor: pointer;" >
      {{ post?.name }}
    </td>
    <td data-name="uid">

    {{post?.minLosMenge}}

    </td>
    <td data-name="uid">

     <input type="number" [(ngModel)]="artikelMenge[i]" name="" id="">

      </td>
                <td data-name="del">
                    <button name="del0" class='btn btn-dark glyphicon glyphicon-remove row-remove' (click)="addArtikel(post.artikelId,artikelMenge[i])"><span aria-hidden="true">add</span></button>
                </td>
    </tr>
  </tbody>
</table>
<!--Add new show buchungen in bearbeitung-->
<div class="mt-2 col-md-12"></div>
<table class="table table-bordered table-hover table-sortable" id="tab_logic" *ngIf="show === 1 && dispo">
  <thead>
    <tr >
      <th class="text-center">
       Buchung id
      </th>
      <th class="text-center">
       Tor
      </th>
      <th class="text-center">
       Dispositor
      </th>
      <th class="text-center">
       Bestellung id
       </th>

    </tr>
  </thead>
  <tbody>

    <tr  *ngFor="let post of buchngen; let i = index; " class="hidden" >
      <td data-name="">
        {{ post?.id }}
    </td>
    <td data-name="Tor">
      {{ post?.tor }}
    </td>
    <td data-name="dispositor" style="cursor: pointer;" (click)="bearbeiteBuchung(i)" *ngIf="dispositors.length > 0">
    {{dispositors[post.dispositorId -1].name }}

    </td>
      <td data-name="bestellungid" style="cursor: pointer;" (click)="bearbeiteBuchung(i)">

        {{ post?.bestellungId }}

        </td>
                <td data-name="del">
                    <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove' (click)="deleteBuchung(i)"><span aria-hidden="true">X</span></button>
                </td>
    </tr>
  </tbody>
</table>
<!--show curent artikels-->
<div class="mt-2 col-md-12"></div>
<table class="table table-bordered table-hover table-sortable" id="tab_logic" *ngIf="show === 3 ">
  <thead>
    <tr >
      <th class="text-center">
       Bestellung id
      </th>
      <th class="text-center">
      Artikel id
      </th>
      <th class="text-center">
       Artikel Name
      </th>
      <th class="text-center">
       Menge
       </th>
       <th class="text-center">
        Entfernen ?
        </th>

    </tr>
  </thead>
  <tbody>

    <tr  *ngFor="let post of buchungArtikelMenge; let i = index; " class="hidden" >
      <td data-name="">
        {{ post?.bestellungId }}
    </td>
    <td data-name="Tor">
      {{ post?.artikelid }}
    </td>

      <td data-name="bestellungid">

        {{ post?.artikelName }}

        </td>
        <td data-name="bestellungid">

          {{ post?.menge }}
        </td>
          <td data-name="del">
            <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove' (click)="deleteArtikel(i)"><span aria-hidden="true">X</span></button>
        </td>

    </tr>
  </tbody>
</table>
</div>
