<div class="container">
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Kommissionier Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Gewunschtes Liefer Datum">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Dispositor">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
  </form>
</div>
