.mat-column-aid{
  font-size: .8rem;
  width: 5%;
}
.mat-column-menge{
  font-size: .8rem;
  width: 5%;
}
.mat-column-name{
  font-size: .8rem;
  width: 5%;
}
.mat-column-rabat{
  font-size: .8rem;
  width: 5%;
}



.mat-column-price{
  font-size: .8rem;
  width: 10%;
}
.mat-column-minMenge{
  font-size: .8rem;
  width: 5%;
}
.mat-column-gewicht{
  font-size: .8rem;
  width: 5%;
}
.mat-column-basis{
  font-size: .8rem;
  width: 5%;
}
.mat-column-liferant{
  font-size: .8rem;
  width: 5%;
}
.mat-column-lnumer{
  font-size: .8rem;
  width: 10%;
}
.mat-column-addmenge{
  font-size: .8rem;
  width: 10%;
}
.mat-column-add{
  font-size: .8rem;
  width: 5%;
}

