<div class="container">
      <mat-toolbar color="primary">
        <div >
            <h3 *ngIf="currentKomm.id ===undefined">Neue Kommissionierung Erstellen</h3>
            <h3 *ngIf="currentKomm.id !==undefined">Kommissionierung aktualisieren</h3>
        </div>
      </mat-toolbar>
  <div matDialogContent class="matDialogContent">
    <form [formGroup]="kommissForm">
        <input type="hidden" formControlName="id">
          <div class="row">
            <div>
              <fieldset class="hidd">
                <legend>Verkaufer :</legend>
                <input type="hidden"
                formControlName="verkauferId" (ngValue)="verkaufer">
                  <span>{{verkauferData.username}}</span>
              </fieldset>
            </div>
            <div *ngIf="currentKomm.id !== undefined">
              <fieldset class="hidd">
                <legend>Kommissionierung Nr. :</legend>
                <input type="hidden"
                formControlName="verkauferId" (ngValue)="verkaufer">
                  <span>{{currentKomm.id}}</span>
              </fieldset>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Maximale Palettenhöhe</mat-label>
                <input type="number" matInput
              formControlName="maxPalettenHoher">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Gewünschte Lieferdatum</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="gewunschtesLieferDatum">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Fälligkeitdatum</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="falligkeitDatum">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        <div class="row">
            <div>
              <mat-form-field>
                <mat-label>Debitor</mat-label>
                <mat-select formControlName="dispositorId">
                    <mat-option *ngFor="let item of dispo | filterNullItemPipe; let i = index; " [value]="item.id">{{item?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Kommissionierung Status</mat-label>
                <mat-select formControlName="kommissStatus">
                    <mat-option *ngFor="let item of kommStatus | keyvalue" [value]="item.value">{{item.value}}</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <div>
              <mat-form-field>
                <mat-label>Spedition</mat-label>
                <mat-select formControlName="spedition" >
                    <mat-option *ngFor="let item of spedi | filterNullItemPipe; let i = index" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                  <mat-hint class="fs-ss" *ngIf="spedi[spediSelected] !== undefined">{{'Gewicht: '+ spedi[spediSelected].maxLadeGewicht + ' Stellplätze: ' + spedi[spediSelected].maxPalettenMenge}}</mat-hint>
              </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Buchungsdatum</mat-label>
                      <input matInput
                      formControlName="buchungsDatum"
                            [matDatepicker]="datePickerRef"
                            >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="datePickerRef"></mat-datepicker-toggle>
                      <mat-datepicker #datePickerRef></mat-datepicker>
                </mat-form-field>
              </div>
         </div>
      <div class="divider"></div>
      <div class="row">
            <div>
              <mat-form-field>
                <mat-label>Versorugungs Id</mat-label>
                <input type="text"
                matInput formControlName="versorgungId">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Skonto:</mat-label>
                <input type="number"
                matInput formControlName="skonto">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Skonto Frist:</mat-label>
                <input type="number"
                matInput formControlName="skontoFrist">
              </mat-form-field>
            </div>
            <div>
              <div>
                <label for="submitKom" class="fs-s"></label>
              </div>
              <button type="submit" id="submitKom" mat-raised-button color="primary" *ngIf="currentKomm.id ===undefined" (click)="saveKommissionierung(kommissForm.value)">Kommissionierung Spiechern</button>
              <button type="submit" id="submitKom" mat-raised-button color="primary" *ngIf="currentKomm.id !==undefined"(click)="updateKommissionierung(kommissForm.value)">Kommissionierung Aktualisieren</button>
              <div>
                <small id="submitKom" class="form-text text-muted fs-ss">Zuerst müsst die Kommissionierung gespeichert werden</small>
              </div>
           </div>
      </div>
        <div class="row">
              <div>
                <mat-form-field>
                  <mat-label>Logistic Beleg Nr</mat-label>
                  <input type="text"
                  matInput #logisticBeleg placeholder="" id="lbeleg">
                </mat-form-field>
              </div>
              <div>
                <button type="button" mat-raised-button color="primary" (click)="addlogisticBeleg(logisticBeleg.value)">Gib Logistic Beleg Nr ein</button>
              </div>
        </div>
    </form>
    <div class="divider"></div>
        <div  class="dialogAct">
          <div >
              Total Gewicht: {{totalGewichtB}}
          </div>
          <div>
            Stellpaltze: {{stellplattzeB }}
          </div>
          <div>
          <button mat-raised-button matDialogClose color="primary">Close</button>
          </div>
      </div>
      <div class="divider"></div>
      <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" dynamicHeight  (selectedTabChange)="showArtikelsinKomm()">
      <mat-tab label="Artikels">
        <div class="divider"></div>
                  <div class="row">
                    <div>
                      <mat-form-field>
                        <mat-label>Gib Artikel name or nr ein</mat-label>
                        <input type="search" matInput [ngModel]="searchModel" name="searchModel"  (ngModelChange)="onSearch($event)">
                        {{searchModel}}
                      </mat-form-field>
                    </div>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                    </div>
                </div>
        <!--<table mat-table [dataSource]="tabResArti" [trackBy]="artikelTrackBy" id="artikels" *ngIf="showArtikelsInKomm === 0">-->
        <table mat-table [dataSource]="tabResArti" [trackBy]="artikelTrackBy" id="artikels">
          <ng-container matColumnDef="aid">
            <th mat-header-cell *matHeaderCellDef>Artikel Nr.</th>
            <td mat-cell *matCellDef="let row; ">{{row.artId}}</td>
          </ng-container>
          <ng-container matColumnDef="menge">
            <th mat-header-cell *matHeaderCellDef>
             <div>Verfugbare Menge</div>
             <mat-hint class="fs-ss">(artikel schiben)</mat-hint>
            </th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button color="accent" (click)="findArtikels(currentKomm.id, row.artId, row.liferantId)"> {{row.total}}</button>
              </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>
          <ng-container matColumnDef="rabat">
            <th mat-header-cell *matHeaderCellDef>Rabat in %</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <div class="my-form-field">
                <input type="number" matInput [(ngModel)]="rabats[i]">
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Verkauf Price</th>
            <td mat-cell *matCellDef="let row; let i = index">{{getCurrentPrice(i)}}</td>
          </ng-container>
          <ng-container matColumnDef="minMenge">
            <th mat-header-cell *matHeaderCellDef>Min Los Menge</th>
            <td mat-cell *matCellDef="let row">{{row.minLosMenge}}</td>
          </ng-container>
          <ng-container matColumnDef="gewicht">
            <th mat-header-cell *matHeaderCellDef>Gewicht</th>
            <td mat-cell *matCellDef="let row">{{row.gewicht}}</td>
          </ng-container>
          <ng-container matColumnDef="basis">
            <th mat-header-cell *matHeaderCellDef>Basis Einheit</th>
            <td mat-cell *matCellDef="let row">{{row.basisEinheit}}</td>
          </ng-container>
          <ng-container matColumnDef="liferant">
            <th mat-header-cell *matHeaderCellDef>Liferant</th>
            <td mat-cell *matCellDef="let row; let i = index">{{dispo[row.liferantId].name}}</td>
          </ng-container>
          <ng-container matColumnDef="lnumer">
            <th mat-header-cell *matHeaderCellDef>Logistic Beleg Nr</th>
            <td mat-cell *matCellDef="let row">
              <div class="my-form-field">
                <select #lbn (change)="onChange(lbn.value)">
                  <option *ngFor="let litem of logisticBelegNr" [value]="litem" [selected]="logisticBelegNr[logisticBelegNr.length -1]">{{litem}}</option>
              </select>
            </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="addmenge">
            <th mat-header-cell *matHeaderCellDef>Menge</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <div class="my-form-field">
                <input type="number" matInput (click)="checkVerfurbarkeit(i)" [(ngModel)]="artikelMenge[i]">
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef>Artikel zufugen</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <button mat-raised-button (click)="addArtikelToKomm(i, false)" >Add Artikel</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="artikelsColumnDef"></tr>
          <tr mat-row *matRowDef="let row; columns: artikelsColumnDef"></tr>
        </table>

    </mat-tab>
      <mat-tab label="Artikels in Kommissionierung" >
      <table mat-table [dataSource]="tabResForArtInKom" >
            <ng-container matColumnDef="artidink">
              <th mat-header-cell *matHeaderCellDef >Artikel Nr.</th>
              <td mat-cell *matCellDef="let item; let i = index">{{item.artId}}</td>
            </ng-container>
            <ng-container matColumnDef="mengeink">
              <th mat-header-cell *matHeaderCellDef >Menge in Kommisionierung</th>
              <td mat-cell *matCellDef="let item; let i = index">{{item.total}}</td>
            </ng-container>
            <ng-container matColumnDef="nameink">
              <th mat-header-cell *matHeaderCellDef >Name</th>
              <td mat-cell *matCellDef="let item; let i = index">{{item.name }}</td>
            </ng-container>
            <ng-container matColumnDef="artSink">
              <th mat-header-cell *matHeaderCellDef >Artikel Status</th>
              <td mat-cell *matCellDef="let item; let i = index" >{{artikelStatus[i]}}</td>
            </ng-container>
            <ng-container matColumnDef="verkPink">
              <th mat-header-cell *matHeaderCellDef >Verkauf Price</th>
              <td mat-cell *matCellDef="let item; let i = index">{{item.verPrice}}</td>
            </ng-container>
            <ng-container matColumnDef="rabatink">
              <th mat-header-cell *matHeaderCellDef >Rabatt: </th>
              <td mat-cell *matCellDef="let item; let i = index">{{item.rabatt}}</td>
            </ng-container>
            <ng-container matColumnDef="totalGink">
              <th mat-header-cell *matHeaderCellDef >Total Gewicht</th>
              <td mat-cell *matCellDef="let item; let i = index">{{item.gewicht}}</td>
            </ng-container>
            <ng-container matColumnDef="liferantink">
              <th mat-header-cell *matHeaderCellDef >Liferant</th>
              <td mat-cell *matCellDef="let item; let i = index" >{{dispo[item.liferantId].name}}</td>
            </ng-container>
            <ng-container matColumnDef="lbelegink">
              <th mat-header-cell *matHeaderCellDef >Logistic Beleg Nr.</th>
              <td mat-cell *matCellDef="let item; let i = index">{{item.logisticBelegNr}}</td>
            </ng-container>
            <ng-container matColumnDef="nMengeink">
              <th mat-header-cell *matHeaderCellDef>Neue Menge</th>
              <td mat-cell *matCellDef="let item; let i =index">
                <div class="my-form-field">
                  <input type="number"  value="artikelMenge" [(ngModel)]="artikelMengeEdit[i]"
                  placeholder="Gib neue Menge an">
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="mengeAink">
              <th mat-header-cell *matHeaderCellDef>Mengenänderung</th>
              <td mat-cell *matCellDef="let item; let i=index" >
                <button *ngIf="artikelStatus[i] === 'INPACKEN'" mat-raised-button (click)="addArtikelToKomm(i, true) ">Bestätigen</button>
                <button *ngIf="artikelStatus[i] === 'GEPACKT' || artikelStatus[i] === 'TEILGEPACKT'" mat-raised-button (click)="addArtikelToKomm(i, true) " disabled>Bestätigen</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="removeink">
              <th mat-header-cell *matHeaderCellDef>Remove Position</th>
              <td mat-cell *matCellDef="let item; let i =index" >
                <button *ngIf="artikelStatus[i] === 'INPACKEN'" mat-raised-button color="warn" (click)="deletePositionInKomm(i)">Delete</button>
                <button *ngIf="artikelStatus[i] === 'GEPACKT' || artikelStatus[i] === 'TEILGEPACKT'" mat-raised-button color="warn" (click)="deletePositionInKomm(i)" disabled>Delete</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="artInKomColumnDef"></tr>
            <tr mat-row *matRowDef="let row; columns: artInKomColumnDef; let i = index" class="{{border[i]}}"></tr>

      </table>

    </mat-tab>
      </mat-tab-group>
  </div>
</div>
