<div class="container">
  <div matDialogContent class="matDialogContent">

   <!--Form to create  speditors-->
  <form novalidate
  [formGroup]="formSpedition" (ngSubmit)="closeDialog(formSpedition.value)">
  <input type="hidden" formControlName="id">
      <div class="row">
          <div>
            <mat-form-field>
              <mat-label>Spedition Name</mat-label>
              <input formControlName="name" type="text" matInput required>
              <mat-hint *ngIf="formSpedition.controls['name'].invalid && (formSpedition.controls['name'].touched || formSpedition.controls['name'].dirty)"> Diese Field ist required!</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Name 2</mat-label>
              <input formControlName="name2" type="text" matInput>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Max Lade Gewicht :</mat-label>
              <input formControlName="maxLadeGewicht" type="number" matInput required>
            </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div>
            <mat-form-field>
              <mat-label>Max Paletten Menge</mat-label>
              <input formControlName="maxPalettenMenge" type="number" matInput required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Stadt</mat-label>
              <input formControlName="stadt" type="text" matInput required>
              <mat-hint *ngIf="formSpedition.controls['stadt'].invalid && (formSpedition.controls['stadt'].touched || formSpedition.controls['stadt'].dirty)"> Diese Field ist required!</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Straße und Nr.</mat-label>
              <input formControlName="strasseUndNr" type="text" matInput required>
              <mat-hint *ngIf="formSpedition.controls['stadt'].invalid && (formSpedition.controls['stadt'].touched || formSpedition.controls['stadt'].dirty)"> Diese Field ist required!</mat-hint>
            </mat-form-field>
            </div>
      </div>
      <div class="row">
        <div>
          <mat-form-field>
            <mat-label>Postleitzahl</mat-label>
            <input formControlName="postleitzahl" type="number" matInput required>
            <mat-hint *ngIf="formSpedition.controls['stadt'].invalid && (formSpedition.controls['stadt'].touched || formSpedition.controls['stadt'].dirty)"> Diese Field ist required!</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Umsatzsteuer-Identifikationsnummer</mat-label>
            <input formControlName="uStIdentifikationsnummer" type="text" matInput required>
            <mat-hint *ngIf="formSpedition.controls['stadt'].invalid && (formSpedition.controls['stadt'].touched || formSpedition.controls['stadt'].dirty)"> Diese Field ist required!</mat-hint>
          </mat-form-field>
        </div>
      </div>
    <div class="row">
        <div>
          <button mat-raised-button color="primary" type="submit"  *ngIf="formSpedition.valid">Save</button>
          <button mat-raised-button type="submit" disabled *ngIf="!formSpedition.valid">Save</button>
        </div>
        <div >
          <button mat-raised-button color="warn" type="button" [mat-dialog-close]>Abbruch</button>
        </div>
    </div>
  </form>
  </div>
</div>
