 <div class="container">
  <div class="row">
 <!-- Show speditors data-->
 <table mat-table [dataSource]="tabRes">
  <ng-container matColumnDef="spedid">
    <mat-header-cell *matHeaderCellDef> Speditors Id</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="spedname">
    <mat-header-cell *matHeaderCellDef> Speditors Name</mat-header-cell>
    <mat-cell *matCellDef="let item; let i = index" (click)="editSpedi(i)" style="cursor: pointer;">{{item.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="gewicht">
    <mat-header-cell *matHeaderCellDef>Speditors max lade gewicht</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.maxLadeGewicht}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="palmen">
    <mat-header-cell *matHeaderCellDef>Speditors max paletten menge</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.maxPalettenMenge}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let item; let i = index">
      <button mat-raised-button color="warn" (click)="deleteSpeditor(i)">Löschen</button>
    </mat-cell>
  </ng-container>
   <mat-header-row *matHeaderRowDef="columnDef"></mat-header-row>
   <mat-row *matRowDef="let row; columns: columnDef;"></mat-row>
  </table>
</div>
</div>
