<div class="container">
  <mat-toolbar color="primary">
      <span class="fs-s">Artikel Erfassen</span>
  </mat-toolbar>

  <mat-dialog-content>
    <div class="art">
      <div>{{artikel.artname}}</div>
      <div>{{artikel.menge}}</div>
      <div>
        <div class="divider"></div>
        <mat-form-field>
          <mat-label>Artikel menge in stück</mat-label>
          <input type="number" matInput #menge autocomplete="off">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div>
    <div class="act">
      <button type="button" mat-raised-button color="primary" (click)="aufPaletehinzufugen(menge.value)">Erfassen</button>
      <button mat-raised-button matDialogClose>Abbrechen</button>
    </div>
  </div>

</div>
