<mat-toolbar color="primary" class="mat-toolbar">
      <mat-toolbar-row>
        <div class="row">
        <div>
          <button mat-icon-button  aria-label="icon-button with menu icon" *ngIf="isLogged" (click)="toggle()">
            <mat-icon>menu</mat-icon>
          </button>
            <span  *ngIf="!kommissionier" > {{toolbarInfo}} </span>
        </div>
        <div *ngIf="kommissionier">
          <div style="line-height: 0.7em; margin-top: .5rem;">{{toolbarInfo}}</div>
          <div>{{palNr}}</div>
         </div>
        <span class="spacer">
          <div *ngIf="isLogged" class="vorschlag">
            <span>Verbesserung vorschlagen</span> <button mat-raised-button (click)="gibVorschlag()">Click!</button>
          </div>
        </span>
          <div *ngIf="isLogged">
            <button mat-icon-button class="example-icon" aria-label="logout button" (click)="logout()">
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar-row>
</mat-toolbar>
  <router-outlet></router-outlet>
  <app-loader></app-loader>



