<mat-toolbar color="primary">
      <mat-toolbar-row>
        <div>
          <span routerLink="/" style="cursor:pointer;" *ngIf="!kommissionier"> {{toolbarInfo}} </span>
          <div *ngIf="kommissionier" class="fs-s mt-2">
            <div style="line-height: 0.6em;">{{toolbarInfo}}</div>
            <div>{{palNr}}</div>
           </div>
        </div>
        <span class="spacer"></span>
          <div *ngIf="isLogged">
            <button mat-icon-button class="example-icon" aria-label="logout button" (click)="logout()">
              <mat-icon>logout</mat-icon>
            </button>
          </div>
      </mat-toolbar-row>
</mat-toolbar>
  <router-outlet></router-outlet>
  <app-loader></app-loader>



