<div class="container">
    <div class="row-flex">
        <div class="row-flex-button">
         <button name="" id="" class="btn btn-primary btn-sm fs-s" (click)="neuePalete(null)" *ngIf="currentPalatte === 0 && kommDetails !== undefined && kommDetails.length > 0"> Neue Palette</button>
        </div>
        <div class="row-flex-button">
            <button name="" id="" class="btn btn-primary btn-sm fs-s" *ngIf="currentPalatte !== 0 " (click)="gewichtErfassen()">Gewicht Erfassen</button>
        </div>
    </div>
    <div class="box" *ngIf="kommDetails !== undefined && kommDetails.length < 1">
        <div class="box-mid">
                <div class="d-flex flex-row justify-content-center mt-5 align-items-center">
                    <input class="form-control form-control-sm fs-s" type="text" name="" id="" style="width: 50%;" [(ngModel)]="kommid">
                </div>
            <div class="d-flex flex-row justify-content-center mt-3 align-items-center">
                <button name="" id="" class="btn btn-primary btn-sm" (click)="getKomm()"> Kommissionieren</button>
            </div>
        </div>
    </div>
    <div>
      <div class="d-flex row-flex rounded fs-s justify-content-center align-items-center">
        <div class="col align-self-start p-1">
          <input type="text" class="form-control form-control-sm fs-s" name="search" id="search" placeholder="Artikel scannen oder eingeben" [(ngModel)]="uid" (ngModelChange)="findbyuidorArtId(uid)">
        </div>
        <div class="col align-self-end p-1">
          <button type="button" class="btn btn-primary btn-sm" (click)="findbyuidorArtId(uid)">Find</button>
        </div>
      </div>
  <div *ngIf="kommDetails !== undefined && kommDetails.length > 1">
    <div class="d-flex row-flex border rounded fs-s" >
      <div class="d-flex flex-column ml-1 ">Platz:</div>
      <div class="d-flex flex-column ml-1 border-start">Karton Menge:(+St.)</div>
      <div class="d-flex flex-column ml-1 border-start">Name:</div>
      <div class="d-flex flex-column ml-1 border-start">Art. Id</div>
  </div>
      <div *ngFor="let item of kommDetails; let i = index;" class="{{borders[i]}}">
          <div class="d-flex flex-column p-2 ml-1 ">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="getPlatzMitArtikel(i)">{{item.platz}}</button>
             </div>
          <div class="d-flex flex-column p-2 ml-1 border-start">{{getCartonMenge(i)}}</div>
          <div class="d-flex flex-column p-2 ml-1 border-start">{{item.artname}}</div>
          <div class="d-flex flex-column p-2 ml-1 border-start">{{item.artikelId}}</div>
      </div>
  </div>

    </div>

</div>
