<div class="container-fluid !direction !spacing">
  <div class="mt-2 col-md-12"></div>
  <div class="row ">
    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">

      <div class="div-to-align">
    <form class="form-login" [formGroup]="formLogin" (ngSubmit)="loginUser()">
      <!-- User input -->
      <div class="form-outline mb-1">
        <input type="username" id="username" formControlName="username" name="username" class="form-control" />
        <label class="form-label" for="form2Example1">Benutzer</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-1">
        <input type="password" id="password" formControlName="password" name="password" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-1" (ngSubmit)="loginUser()">Sign in</button>
    </form>
  </div>
  </div>
  </div>
</div>

