<div class="container">
  <mat-sidenav-container id="sidenav">
      <mat-sidenav mode="side" align="start" opened #sidenav >
      <button type="button" mat-raised-button color="primary" (click)="getAllspeditiors()"> Speditors</button>
      <button type="button" mat-raised-button (click)="newSpedi()" *ngIf="show === 3">Neu Spedition</button>
      <button type="button" mat-raised-button color="primary" (click)="getAllDispositors()"> Debitoren</button>
      <button type="button" mat-raised-button *ngIf="show === 1" (click)="newDispo()" > Neue Debitor</button>
      <button type="button" mat-raised-button color="primary" (click)="showAretikel()" >Artikels</button>
      <button mat-raised-button (click)="artikel.newArtikel()" *ngIf="show === 4">Artikel Hinzufügen</button>
      <button type="button" mat-raised-button color="primary" (click)="showWarenBuchung()"> Waren Buchung</button>
      <button mat-raised-button *ngIf="show === 5" (click)="waren.createBuchung()">Waren Buchen</button>
      <button type="button" mat-raised-button *ngIf="waren?.show === 2 && show === 5" (click)="waren.showArtikleInBuchung()">Zeigt gebuchtes Artikels</button>
      <button type="button" mat-raised-button  *ngIf="waren?.show === 3 && show === 5" (click)="waren.goBack()">Zurück</button>
      </mat-sidenav>

      <div *ngIf="show === 1">
        <app-debitors></app-debitors>
      </div>
      <div *ngIf="show === 3">
        <app-speditors></app-speditors>
      </div>
      <div *ngIf="show === 4">
        <app-artikel #artikel id="artikel"></app-artikel>
      </div>
      <div *ngIf="show === 5">
        <app-warenebuchung #waren id="waren"></app-warenebuchung>
      </div>
  </mat-sidenav-container>


</div>


