/* You can add global styles to this file, and also import other style files */
/*@import "assets/bootstrap.min.css";*/

@import "toastr.css";



html, body { height: 100%; width: 100%; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  font-weight: 400;}


.icons mat-icon, .icons div {
  cursor: pointer;
}

.spacer{
 flex: 1 1 auto;
}

.login{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*place-items: center; it should make items on center no matter what hmm*/
}
.login button {
 left: 50%;
 transform: translateX(-50%);
}


.mat-toolbar {
display: flex;
align-items: baseline;
min-height: 30px;
max-height: 60px;
}
.container{
  width: 100;
  min-width: calc( 98vw - 200px);
  height: 95%;
  min-height: 95vh;
  overflow: auto;
}

.matDialogContent {
  width: 97%;
  min-width: 97vw;
  height: 85%;
  min-height: 85vh;
  margin-top: 0.1rem;
}

h3 {
  padding-top: 7px;
  color: aliceblue;
}

.fs-s{
  font-size:.8rem;
}
.fs-sl{
  display: grid;
  align-items: baseline;
  font-size: 1rem;
  line-height: 1.3rem;
  padding-top: 0.7rem;
}
.fs-ss{
  font-size:.6rem;
}
.second-row{
  margin-top: .7rem;
}

.mat-form-field {
  font-size: 0.8rem !important;
  height: 10px !important;
  line-height: 0.8rem !important;
}
.divider {
  margin-top: 0.4rem;
}

.mat-sidenav {
  margin-top: .5rem;
  width: 200px;
  max-width: 200px;
}
.mat-sidenav button {
  width: calc(200px - 10px);
  margin: .2rem .2rem;
  font-size: .9rem;
  line-height: .9rem;
}

.row {
  display: flex;
  justify-content:flex-start;
  column-gap: .4rem;
  align-items: baseline;
  padding-left: 1rem;
  flex-grow: 1;
  flex-wrap: wrap;
}
.row1b {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.row .hidd {
  display: inline-block;
  border: .1rem solid rgb(93, 37, 167);
  border-radius: .3rem;
  height: inherit;
  padding-top: .2rem;
}
.row .hidd legend {
  font-size: .8rem;
}
.rowsuch {
  display: flex;
  column-gap: .4rem;
  align-items: baseline;
  padding-left: 1rem;
  justify-content: flex-start;
  min-height: fit-content;

}
.rowsuch :first-child {
  min-width: 70%;
}
.rowsuch input {
  width: 100%;
  size: 100%;
}
.dialogAct{
  display: flex;
  justify-content: space-between;
}
.my-form-field input, .my-form-field select{
  font-size: 0.8rem;
  border: none;
}

.my-form-field input:focus, .my-form-field select:focus{
  outline: none;
}


.my-form-field {
  font-size: 0.8rem;
  width: fit-content;
  border-radius: .4rem;
  border: 2px solid rgb(93, 37, 167);
  box-shadow: inset;
}
.gepackt, .gepackt tr, .gepackt td, td mat-cell{
  border-top-color:rgb(121, 104, 161);
  border-bottom-color:rgb(121, 104, 161);
  background-color: rgb(121, 104, 161);
}

.inBestellung, .inBestellung tr, .inBestellung td, td mat-cell {
  border-top-color: red;
  border-bottom-color: red;
  background-color: rgb(155, 67, 67);
}
mat-tab-label {
  background-color: aquamarine;
}

mat-sidenav-content {
  min-height: 95vh;
}
