/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap.min.css";
@import "~ngx-toastr/toastr.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }


.well:default{
  margin: 2px;

}
.well:hover{
  background-color: rgb(187, 94, 245);

}
.well{
  background-color:rgb(221, 212, 228);
  margin: 2px;
  max-width: 350px;
  cursor: pointer;



}

