<div class="container  fluid">
  <div class="mt-2 col-md-12"></div>
  <div class="row clearfix justify-content-center"  *ngIf="show === 0">
    <div class="col-md-auto">
      <button mat-raised-button color="primary" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin Panel</button>
    </div>
    <div class="col-md-auto">
      <button mat-raised-button color="primary" (click)="getUsers()">Users</button>
    </div>
  </div>
  <div *ngIf="show === 1">
    <app-users [userss]="users" (show)="changeShow($event)"></app-users>
  </div>
</div>

