<div class="container-fluid !direction !spacing">
  <div matDialogContent>
    <form class="row needs-validation" [formGroup]="formDispositors" novalidate
      (ngSubmit)="createNewDispo(formDispositors.value)">
      <input type="hidden" formControlName="id">
      <div class="row g-2 px-2">
        <div class="col-md-6">
            <label for="name" class="form-label">Dispositor Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" value="name" required placeholder="name">
            <div class="ng-invalid" *ngIf="formDispositors.controls['name'].invalid && (formDispositors.controls['name'].touched || formDispositors.controls['name'].dirty)">
            <p class="text-danger small">Dispositor name kann nicht lehr sein!</p>
            </div>
        </div>
        <div class="col-md-6">
          <label for="name2" class="form-label">Name 2</label>
          <input formControlName="name2" type="text" class="form-control" id="name2" value="name2" placeholder="name 2 optional">
        </div>
      </div>
      <div class="row g-2 px-2">
          <div class="col-md-6">
            <label for="stadt" class="form-label">Stadt </label>
            <input formControlName="stadt" type="text" placeholder="stadt" id="stadt" class="form-control" required>
            <div class="ng-invalid" *ngIf="formDispositors.controls['stadt'].invalid && (formDispositors.controls['stadt'].touched || formDispositors.controls['stadt'].dirty)">
              <p class="text-danger small">Stadt kann nicht lehr sein!</p>
               </div>
          </div>
          <div class="col-md-6">
            <label for="strasseUndNr" class="form-label">Straße und Nr </label>
            <input formControlName="strasseUndNr" type="text" required placeholder="strasse + haus nr" id="strasseUndNr" class="form-control" >
            <div class="ng-invalid" *ngIf="formDispositors.controls['strasseUndNr'].invalid && (formDispositors.controls['strasseUndNr'].touched || formDispositors.controls['strasseUndNr'].dirty)">
              <p class="text-danger small">Strase und nr kann nicht lehr sein!</p>
               </div>
        </div>
      </div>
      <div class="row g-2 px-2">
        <div class="col-md-6">
          <label for="postleitzahl" class="form-label">Postleitzahl: </label>
          <input formControlName="postleitzahl" type="number" required placeholder="" id="postleitzahl" class="form-control" >
          <div class="ng-invalid" *ngIf="formDispositors.controls['postleitzahl'].invalid && (formDispositors.controls['postleitzahl'].touched || formDispositors.controls['postleitzahl'].dirty)">
            <p class="text-danger small">Postleitzahl kann nicht lehr sein (5 Ziffern)!</p>
             </div>
        </div>
        <div class="col-md-6">
          <label for="uStIdentifikationsnummer" class="form-label">Umsatzsteuernummer: </label>
          <input formControlName="uStIdentifikationsnummer" type="text" required placeholder="" id="strasseUndNr" class="form-control">
          <div class="ng-invalid" *ngIf="formDispositors.controls['uStIdentifikationsnummer'].invalid && (formDispositors.controls['uStIdentifikationsnummer'].touched || formDispositors.controls['uStIdentifikationsnummer'].dirty)">
            <p class="text-danger small">Umsatzsteuernummer nicht lehr sein!</p>
             </div>
      </div>
    </div>
      <div class="row g-2 px-2">
        <div class="col-md-6 d-flex justify-content-center">
          <button class="btn btn-success " type="submit" *ngIf="formDispositors.valid">Save</button>
          <button class="btn btn-success disabled" type="submit" *ngIf="formDispositors.invalid">Save</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <button class="btn btn-danger" [mat-dialog-close] type="button">Abort</button>
        </div>
      </div>

    </form>
  </div>

</div>

