<div class="container">
  <div matDialogContent class="matDialogContent">
    <form [formGroup]="formDispositors" novalidate
      (ngSubmit)="createNewDispo(formDispositors.value)">
      <input type="hidden" formControlName="id">
      <div class="row">
          <div>
              <mat-form-field>
                <mat-label>Debitor Name</mat-label>
                <input formControlName="name" type="text" matInput required>
                <mat-hint *ngIf="formDispositors.controls['name'].invalid && (formDispositors.controls['name'].touched || formDispositors.controls['name'].dirty)">
                  Dispositor field kann nicht lehr sein!</mat-hint>
              </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Name 2</mat-label>
              <input formControlName="name2" type="text" required matInput>
              <mat-hint *ngIf="formDispositors.controls['name2'].invalid && (formDispositors.controls['name2'].touched || formDispositors.controls['name2'].dirty)">
                Dispositor field kann nicht lehr sein!</mat-hint>
            </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div>
            <mat-form-field>
              <mat-label>Stadt</mat-label>
              <input formControlName="stadt" type="text" matInput required>
              <mat-hint *ngIf="formDispositors.controls['stadt'].invalid && (formDispositors.controls['stadt'].touched || formDispositors.controls['stadt'].dirty)">
                Dispositor field kann nicht lehr sein!</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label> Straße und Nr. </mat-label>
              <input formControlName="strasseUndNr" type="text" required matInput >
              <mat-hint class="ng-invalid" *ngIf="formDispositors.controls['strasseUndNr'].invalid && (formDispositors.controls['strasseUndNr'].touched || formDispositors.controls['strasseUndNr'].dirty)">
               Strase und nr kann nicht lehr sein!
              </mat-hint>
            </mat-form-field>
         </div>
      </div>
      <div class="row">
        <div>
          <mat-form-field>
            <mat-label>Postleitzahl: </mat-label>
            <input formControlName="postleitzahl" type="number" required matInput >
            <mat-hint class="ng-invalid" *ngIf="formDispositors.controls['postleitzahl'].invalid && (formDispositors.controls['postleitzahl'].touched || formDispositors.controls['postleitzahl'].dirty)">
              Postleitzahl kann nicht lehr sein (5 Ziffern)
            </mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Umsatzsteuernummer:</mat-label>
            <input formControlName="uStIdentifikationsnummer" type="text" required matInput>
            <mat-hint class="ng-invalid" *ngIf="formDispositors.controls['uStIdentifikationsnummer'].invalid && (formDispositors.controls['uStIdentifikationsnummer'].touched || formDispositors.controls['uStIdentifikationsnummer'].dirty)">
              Umsatzsteuernummer nicht lehr sein!
            </mat-hint>
          </mat-form-field>
      </div>
    </div>
      <div class="row">
        <div >
          <button mat-raised-button color="primary" type="submit" *ngIf="formDispositors['status'] === 'VALID'">Save</button>
          <button mat-raised-button type="submit" *ngIf="formDispositors['status'] === 'INVALID'" disabled>Save</button>
        </div>
        <div >
          <button mat-raised-button color="warn" [mat-dialog-close] type="button">Abort</button>
        </div>
      </div>

    </form>
  </div>

</div>

