<div class="container">
  <table mat-table [dataSource]="dataTab">
    <ng-container matColumnDef="dispoid">
      <th mat-header-cell *matHeaderCellDef>Dispositor Nr.</th>
      <td mat-cell *matCellDef="let item">{{item.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item; let i =index" (click)="editDispo(i)" style="cursor: pointer;">{{item.name}}</td>
    </ng-container>
    <ng-container matColumnDef="name2">
      <th mat-header-cell *matHeaderCellDef>Name 2</th>
      <td mat-cell *matCellDef="let item">{{item.name2}}</td>
    </ng-container>
    <ng-container matColumnDef="stadt">
      <th mat-header-cell *matHeaderCellDef> Stadt</th>
      <td mat-cell *matCellDef="let item">{{item.stadt}}</td>
    </ng-container>
    <ng-container matColumnDef="loschen">
      <th mat-header-cell *matHeaderCellDef>Debitor Entfernen</th>
      <td mat-cell *matCellDef="let item; let i = index">
        <button mat-raised-button color="warn" (click)="deleteDispositor(i)" >Löschen</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnDef"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDef"></tr>
  </table>
</div>
