<div class="container  !direction !spacing">
  <div class="mt-2 col-md-12"></div>

  <div class="row justify-content-center align-items-center g-2 ">
      <div class="col-md-auto">
         <button type="button" class="btn btn-primary btn-sm fs-s" (click)="getBuchungen()">Liferungen</button>
      </div>
      <div class="col-md-auto" *ngIf="show !==1">
       <button type="button" class="btn btn-primary btn-sm fs-s" (click)="getAritkles(currentLiferung)" > Artikel List</button>
    </div>
    <div class="col-md-auto" *ngIf="role !== null && role === 'LAGERVERWALTUNG'">
     <button type="button" class="btn btn-primary btn-sm fs-s" [routerLink]="['/lager']" routerLinkActive="router-link-active">Lager verwaltung</button>
  </div>

</div>

<div class="mt-2 col-md-12"></div>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-sortable fs-s table-sm" *ngIf="show === 1 && dispostors !== undefined">
    <thead>
      <tr>
        <th class="text-center">Liferant</th>
        <th class="text-center">Tor</th>
        <th class="text-center">Liferung nr:</th>
    </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of buchungen" (click)="getAritkles(item.bestellungId)" style="cursor: pointer;">
        <td class="text-center">{{dispostors[item.kreditorId -1].name}}</td>
        <td class="text-center">{{item?.tor}}</td>
        <td class="text-center">{{item?.bestellungId}}</td>

      </tr>
    </tbody>
  </table>
  <!--artikels list-->
  <table class="table table-bordered table-hover table-sortable fs-s table-sm" *ngIf="show === 2">
    <thead>
      <tr>
        <th class="text-center">Artikel id</th>
        <th class="text-center">Artikel name</th>
        <th class="text-center">Menge</th>
        <th class="text-center">Liferung id</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of artikles; let i = index;" (click)="showArtikel(i)" style="cursor: pointer;">
        <td class="text-center">{{item?.artikelid}}</td>
        <td class="text-center">{{item?.name}}</td>
        <td class="text-center">{{item?.menge}}</td>
        <td class="text-center">{{item?.bestellungId}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--Artikel Palette oder Kartons-->
<div class="mt-2 col-md-12"></div>
<div class="col-auto" *ngIf="show === 3">
  <div class="row border border-danger rounded">
      <div class="col text-center d-block p-2">
        {{artikles[artikelIndex].name}} :
      </div>
      <div class="col text-center d-block p-2">
        {{artikles[artikelIndex].menge}}
      </div>
  </div>

      <div class="mt-2 col-md-12"></div>
      <div class="row fs-s" *ngIf="lagerPlatz === undefined && manualLagerPlatz === ''">

          <div class="col d-block p-2 form-control">
            <label for="currentArtikelMenge"> Menge :
            <input type="number" class="form-control" name="" id="currentArtikelMenge" [(ngModel)]="currentArtikelMenge" placeholder="total menge in kartons">
            </label>
          </div>
          <div class="col d-block p-2 form-control">
             <label for="mhd">MHD :
             <input type="date" class="form-control" name="" id="mhd" [(ngModel)]="mhd" placeholder="mhd wenn vorhanden">
            </label>
          </div>
          <div class="col d-block p-2 form-control">
            <label for="palette">Palette :
            <div class="btn-group form-control-sm" role="group" data-bs-toggle="buttons">
              <label class="btn btn-primary active btn-sm">
              <input type="checkbox" class="me-2 fs-s" name="" id="palette" [(ngModel)]="palete" autocomplete="off"> Palette ?
              </label>
            </div>
          </label>
          </div>
          <div class="col d-block p-2 form-control"  *ngIf="palete">
            <div class="btn-group form-control" role="group" data-bs-toggle="buttons">
              <div class="mb-3">
                <label for="paltyp" class="form-label-sm">Palette Typ</label>
                <select class="form-select form-select-sm" name=""  [(ngModel)]="paletteTyp" id="paltyp">
                  <option *ngFor="let item of palettenTypEnum | keyvalue" (ngValue)="item.value">{{item.value}}</option>

                </select>
              </div>
            </div>
          </div>
      </div>
      <div class="mt-2 col-md-12"></div>
       <!--Lagerplatz undefinded-->
      <div class="row fs-s" *ngIf="lagerPlatz === undefined && manualLagerPlatz === ''">
        <div class="col d-block p-2">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-primary btn-sm fs-s" (click)="getPlatz()">Find Stellplatz</button>
            </div>
        </div>
        <div class="col d-block p-2">
            <div class="d-grid gap-2" *ngIf="role !== null && role === 'LAGERVERWALTUNG'">
              <button type="button" name="" id="" class="btn btn-danger btn-sm fs-s" (click)="createPlatz()">Gib Stellplatz(per Hand)</button>
            </div>
        </div>
      </div>
      <!--Lagerplatz gefunden-->
      <div class="row" *ngIf="lagerPlatz !== undefined">
        <div class="row">
            <div class="col-md-6 text-center fs-s">
             Hier einlagern:
            </div>
            <div class="col-md-6 border-danger rounded text-center font-weight-bold bg-dark text-white">
            {{lagerPlatz.lagerplatz}}
            </div>
        </div>
        <div class="mt-2 col-md-12"></div>
        <div class="col">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-secondary btn-sm fs-s" (click)="lageEsEin()">Lager es ein!</button>
            </div>
        </div>
      </div>
       <!--Lagerplatz Manual angeben-->
       <div class="row" *ngIf="manualLagerPlatz !== ''">
        <div class="row">
            <div class="col border-danger rounded text-center font-weight-bold bg-dark text-white align-center">
           <div class="mb-3">
             <label for="lagerplatz" class="form-label">Wo</label>
             <input type="text"
               class="form-control" name="" id="lagerplatz" aria-describedby="lagerplatz" placeholder="{{manualLagerPlatz}}">
             <small id="helpId" class="form-text text-muted"></small>
           </div>
            </div>
        </div>
        <div class="mt-2 col-md-12"></div>
        <div class="col">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-secondary btn-sm fs-s" (click)="lageEsEin()">Lager es ein!</button>
            </div>
        </div>
      </div>
</div>

</div>
