<div class="container">
  <mat-sidenav-container>
      <mat-sidenav mode="side" align="start" opened #sidenav>
        <button type="button" mat-raised-button color="primary" (click)="getBuchungen()">Liferungen</button>
        <button type="button" mat-raised-button  (click)="getAritkles(currentLiferung)" *ngIf="show !==1" > Artikel List</button>
        <button type="button" mat-raised-button color="primary" [routerLink]="['/lager']" routerLinkActive="router-link-active" *ngIf="role !== null && role === 'LAGERVERWALTUNG'">Lager verwaltung</button>
      </mat-sidenav>
      <!-- Body -->

<div class="divider"></div>
<div class="row">
  <mat-table *ngIf="show === 1 && dispostors !== undefined" [dataSource]="tabBuchungen">
    <ng-container matColumnDef="liferant">
      <mat-header-cell *matHeaderCellDef>Liferant</mat-header-cell>
      <mat-cell *matCellDef="let item">{{dispostors[item.kreditorId].name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="tor">
      <mat-header-cell *matHeaderCellDef>Tor</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.tor}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="liferung">
      <mat-header-cell *matHeaderCellDef>Liferung Nr.</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.bestellungId}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnDef"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnDef; let item" (click)="getAritkles(item.bestellungId)" style="cursor: pointer;"></mat-row>
  </mat-table>
  <!--artikels list-->
  <mat-table *ngIf="show === 2" [dataSource]="tabArtikel">
    <ng-container matColumnDef="aid">
      <mat-header-cell *matHeaderCellDef>Artikel Nr.</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.artikelid}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="aname">
      <mat-header-cell *matHeaderCellDef>Artikel name</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="menge">
      <mat-header-cell *matHeaderCellDef>Menge</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.menge}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lifid">
      <mat-header-cell *matHeaderCellDef>Liferung Nr.</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.bestellungId}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnArtDef"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnArtDef; let i=index" (click)="showArtikel(i)" style="cursor: pointer;"></mat-row>
  </mat-table>
</div>
<!--Artikel Palette oder Kartons-->
<div class="divider"></div>
<div *ngIf="show === 3">
  <div class="row ">
      <div >
        {{artikles[artikelIndex].name}} :
      </div>
      <div>
        {{artikles[artikelIndex].menge}}
      </div>
  </div>

      <div class="mdivider"></div>
      <div class="row" *ngIf="lagerPlatz === undefined && manualLagerPlatz === ''">
          <mat-form-field>
            <mat-label>Menge :</mat-label>
            <input type="number" matInput [(ngModel)]="currentArtikelMenge" placeholder="total menge in kartons">
          </mat-form-field>
          <mat-form-field>
            <mat-label>MHD :</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="mhd" placeholder="mhd wenn vorhanden">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSufix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="my-form-field">
            <mat-label>Palette :</mat-label>
            <mat-checkbox [(ngModel)]="palete" value="" color="primary" id="palette" ></mat-checkbox>
          </div>
          <mat-form-field *ngIf="palete">
            <mat-label>Palette Typ</mat-label>
            <mat-select [(ngModel)]="paletteTyp" placeholder="">
                <mat-option *ngFor="let item of palettenTypEnum | keyvalue" [value]="item.value">{{item.value}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="divider"></div>
       <!--Lagerplatz undefinded-->
      <div class="row" *ngIf="lagerPlatz === undefined && manualLagerPlatz === ''">
        <div>
            <div >
              <button type="button" mat-raised-button color="primary" (click)="getPlatz()">Find Stellplatz</button>
            </div>
        </div>
        <div >
            <div *ngIf="role !== null && role === 'LAGERVERWALTUNG'">
              <button type="button" mat-raised-button (click)="createPlatz()">Gib Stellplatz(per Hand)</button>
            </div>
        </div>
      </div>
      <!--Lagerplatz gefunden-->
      <div *ngIf="lagerPlatz !== undefined && manualLagerPlatz === ''">
          <div class="row">
              <div>
              Hier einlagern:
              </div>
              <div>
              {{lagerPlatz.lagerplatz}}
              </div>
          </div>
        <div class="divider"></div>
        <div class="row">
            <div>
              <button type="button" mat-raised-button color="primary" (click)="lageEsEin()">Lager es ein!</button>
            </div>
        </div>
      </div>
       <!--Lagerplatz Manual angeben-->
       <div class="row" *ngIf="manualLagerPlatz !== ''">
            <mat-form-field>
              <mat-label>Wo</mat-label>
              <input type="text" matInput placeholder="{{manualLagerPlatz}}" (keyup)="setManualLagerPlatz($event)">
            </mat-form-field>

        <div class="row">

              <button type="button" mat-raised-button color="primary" (click)="lageEsEin()">Lager es ein!</button>
            </div>
        </div>

</div>
  </mat-sidenav-container>
</div>
